body { 
    color: #000000; background-color: lightcyan; 
}
#container   { 
    width: 90%; 
    margin: 0 auto 0 auto; 
    background-color: white;
}
.floatleft  { 
    float: left; margin-right: 3%; 
 } 
 .floatright { 
    float: right;margin-left: 3%;
 }        
 