@font-face{src: url(./fonts/AvenirLTStd-Book.otf);
font-family: avenir;}

body{background-color:#F8F9F9}

.first h2{font-family: avenir;
    font-weight: bold;}

main p{font-family: avenir;}

.image img{max-width: 100%;
max-height: 20%}

ul{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#85929E ;}

li {
    float: left;

  }
  
li a {
    font-family: avenir;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  * {box-sizing:border-box}

  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }