*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.nav-container{
    background-color: rgb(218, 218, 218);
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    
}
nav{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 1rem 0rem;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display:flex;
    justify-content: space-between;
    flex: 1;
}

#logo{
    flex: 2;
    font-family: 'Lobster', cursive;
    font-size: 3vw;
}

.top img{
    width: 100%;
}

.top{
    position: relative;
    text-align: center;
}

.centered{
    position: absolute;
    color: rgb(233, 217, 133);
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

.below-centered{
    position: absolute;
    color: rgb(22, 22, 22);
    width: 100%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top h2{
    font-size: 4vw;
}

.top h3{
    font-size: 1.5 vw;
}

li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 
/*Burger icon*/
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.5s ease;

}

@media screen and (max-width: 1200px){
    html{
        font-size: 50%;
    }

    #logo{
        flex: 1;
    }

    li{
        margin-left: 5rem;
    }
    .top h2{
        font-size: 3vw;
    }

    .top h3{
        font-size: .8vw;
    }

    nav{
        min-height: 9vh;
    }
}

@media screen and (max-width: 800px){
    html{
        font-size: 40%;
    }
    .top h2{
        top: 30%;
        left: 50%;
    }

    .top h3{
        top: 40%;
        left: 50%;
    }
    nav{
        min-height: 8vh;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px){

    html{
        font-size: 32%;
    }
    .top h2{
        top: 25%;
        left: 50%;
    }
    .top h3{
        top: 33%;
        left: 50%;
    }
    nav{
        min-height: 7vh;
    }
}
@media screen and (max-width: 450px){

    html{
        font-size: 30%;
    }
    .top h2{
        top: 25%;
        left: 50%;
    }
    .top h3{
        top: 29%;
        left: 50%;
    }
    #logo{
        flex: 1;
    }
    li{
        margin-left: 3rem;
    }
    nav{
        min-height: 6vh;
    }
}

@media screen and (max-width: 400px){

    html{
        font-size: 30%;
    }
    .top h2{
        top: 25%;
        left: 50%;
    }
    .top h3{
        top: 29%;
        left: 50%;
    }
    #logo{
        flex: 1;
    }
    li{
        margin-left: 3rem;
    }
    nav{
        min-height: 5vh;
    }
}

/* Second Feature Section*/
.container{
    background: #141824;
    margin-top: -2%; 
    position: relative;  
    z-index: 0;
    overflow: hidden;
}

.features{
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.features h1{
    color: rgb(231, 231, 231);
    font-size: 2.5vw;

}

.cards{
    display: flex;
    justify-content: space-between;
    color: black;
    
}

.card{
    background: white;
    margin: 0rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}

.card img{width: 100%;
    object-fit: cover;
}

.card h2{
    margin: 2rem 0rem 1rem 0rem;
    color: black;
}

.card p{
    padding: 2rem;
}

.container .wave{
    position: absolute;
    left: 0;
    bottom: -40%;
    width: 100%;
    z-index: -1;
    opacity: 90%;
}

@media screen and (max-width: 800px){
    .features{
        align-items: center;
    }
    .features h1{
        margin-top: 1rem;
    }

    .cards{
        flex-direction: column;
        width: 100%;
    }
    .card{
        margin: 5rem 0rem;
    }
}

/* Gallery container*/

.gallery-main{
    background: #141824;
    position: relative;  
    margin-top: -1%;
}

.gallery-container{
    min-height: 150vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 10vh;
}
.gallery img{
    width: 100%;
}

.gallery-container h1{
    color: rgb(231, 231, 231);
    font-size: 2.5vw;
}

@media screen and (max-width: 800px){
    .gallery-container{
        align-items: center;
    }
    .gallery-container h1{
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 370px){

    .gallery-container{
        align-items: center;
    }

    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }
}
/* footer section*/

footer{
    
    min-height: 5vh;
    background: #141824;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
footer ul{
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-between;
}

footer h1{
    flex: 3;
    color: blanchedalmond;
    font-size: 1.5vw;
}

@media screen and (max-width: 800px){
    footer h1{
        flex: 1;
    }

    footer img{
        width:80%;
    }
}