*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins', sans-serif;
}

footer{
    font-family: 'Poppins', sans-serif;
}

.view-more{
    display: flex;
    justify-content: center;
    padding-bottom: 3vh; 
    text-decoration: underline;  
}

.view-a{
    color: rgb(255, 255, 255);
}

.nav-container{
    background-color: rgb(218, 218, 218);
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 1rem 0rem;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    display: flex;
    width: 70%;
    justify-content: space-around;

}

.nav-links a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
}

.nav-links  :hover{
    color: rgb(89, 172, 107);
    position: relative;
    
}
ul{
    list-style: none;
}

.logo{
    flex: 2;
    font-family: 'Lobster', cursive;
    font-size: 2vw;
}

/* NAVIGATION BAR*/

/* Main*/

.top{
    position: relative;
    text-align: center;
}

.centered{
    position: absolute;
    color: rgb(233, 217, 133);
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

.below-centered{
    position: absolute;
    color: rgb(22, 22, 22);
    width: 100%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top h2{
    font-size: 4vw;
}

.top h3{
    font-size: 1.5vw;
}

.main-image{
    max-width: 100%;  
    height: auto;  
}

/*Slider*/
.destination{
    min-height: 8vh;
    background:#141824 ;
    color: beige;
    padding-left: 8%;
    margin-top: -1%;
}

.destination h1{
    font-size: 2.5vw;
    margin-bottom: 40px;
    padding-top: 4%;
}

.destination .info{
    max-width: 30%;
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
}


.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: #141824;
    display: flex;
    
  }

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-left: 10%;
    margin-bottom: 9%;
    -webkit-overflow-scrolling: touch;
    
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    
 }

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
.slides::-webkit-scrollbar-thumb {
    background: #b7bac5;
    border-radius: 10px;
  }
.slides::-webkit-scrollbar-track {
    background: transparent;
  }
.slides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 350px;
    margin-right: 50px;
    border-radius: 10px;
    background: rgb(41, 42, 73);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

.slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
#slide-1::after{
    content: "Vancouver Island";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

#slide-1:hover::after{
    opacity: 0.5;
    
}

#slide-2::after{
    content: "Niagara falls";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-2:hover::after{
    opacity: 0.5;
}

#slide-3::after{
    content: "Whistler";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-3:hover::after{
    opacity: 0.5;
}

#slide-4::after{
    content: "Stanley Park";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-4:hover::after{
    opacity: 0.5;
}

#slide-5::after{
    content: "CN Tower";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-5:hover::after{
    opacity: 0.5;
}

.centered-slider{
    position: absolute;
    color: rgb(0, 0, 0);
    width: 50%;
    top: 80%;
    left: 50%;
    font-size: 5vh;
    font-weight: 550;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

/* CONTAINER*/

.container{
    /*background: rgb(28,150,152);
    background: linear-gradient(0deg, rgba(28,150,152,1) 0%, rgba(20,24,36,1) 96%);*/
    background-color: #141824;
    overflow: hidden;
    margin-top: -1%;
}

.features{
    min-height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.features h1{
    margin-left: 20vh;
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    margin-top: 10vh;
}

.main_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sub_container1{
    margin-top: 30px;
    width: 300px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.sub_container2{
    margin-top: 30px;
    width: 300px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.sub_container3{
    margin-top: 30px;
    width: 300px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.sub_container4{
    margin-top: 30px;
    width: 300px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.imagediv img{
    width: 120%;
  
}
.imagediv{
    width:100%;
    height: 50%;
    overflow: hidden;
}
.package_details{
    height: 11.5vw;
}

.package_details a{
    text-decoration: none;
    color: black;
    
}

.first{
    display: flex;
    padding: 10px 0px 10px 10px;
    align-items: center;
}

.first p{
    margin-left: 10px;
    font-size: 3vh;
    font-weight: bold;
}

.second{
    display: flex;
    padding: 5px 10px 5px 10px;
    align-items: center;
}
.second p{
    margin-left: 10px;
    font-size: 2.1vh;
}

.package_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button_style{
    border: 3px solid black;
    padding: 5px 10px;
    font-size: 2vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
}



/* --------close container------*/

/* GUIDE*/
.guide{
    min-height: 90vh;
    margin: auto;

}

.guide h2{
    margin-left: 20vh;
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    margin-top: 10vh;
}

.guide_main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 80px;
}

.guide_container1{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.guide_container2{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.guide_container3{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.guideimg img{
    width: 100%; 
}
.guideimg{
    width:100%;
    height: 50%;
    overflow: hidden;
}

.guide_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.guide_style{
    border: 3px solid black;
    padding: 5px 10px;
    font-size: 2vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
}

.guidefirst{
    padding: 10px;
    align-items: center;
}

.guidefirst p{
    margin-left: 10px;
    font-size: 2.5vh;
}

.guidefirst h1{
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}


/*----*----GUIDE----*-----*/

/* Gallery*/
.gallery_container{
    min-height: 8vh;
    background:#141824 ;
    color: beige;
    padding: 5% 8% 5% 8%;
    margin-top: -1%;
}

.h2gallery{
    font-size: 2.5vw;
    padding-bottom: 5vh;
}
.row { 
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
  }
  
.column img {
    margin-top: 8px;
    padding: 4px;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
  }

.column img:hover{
      transform: scale(1.2);
  }
  
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  /* About US*/

.aboutus{
    background: #141824;
    color: white;
    
}

.aboutus_details{
    
    padding-left: 8%;
    padding-right: 8%;
}

.h1aboutus{
    font-size: 5vh;
    padding-bottom: 5vh;
    padding-left: 8%;
}

.aboutus_container{
    display: flex;
    

}

.aboutus_imgdiv{
    margin-bottom: 50px;
    margin-right: 50px;
    width: 200%;
    height: 100%;
}

.aboutus_container .aboutus_img{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    padding-right: 10%;
}
  /*Footer*/

  footer{
    display: flex;
    min-height: 5vh;
    background: #000000;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    justify-content: space-between;
    
}
address a{
    font-size: 2.5vh;
    padding-left: 5px;
    color: whitesmoke;
    font-style: normal;
}

.gmail{
    padding-top: 5px;
}
.social_media{
    width: 20%;
    justify-content: center;
}

.social_media ul{
    display: flex;
    justify-content: space-between;
    
}
.social_media h1{
    text-align: center;
    color: blanchedalmond;
    font-size: 2.5vh;
    padding-bottom: 5vh;
}

.social{
    justify-content: center;
    padding-right: 2%;
}

.social ul{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.social h1{
    text-align: center;
    color: blanchedalmond;
    font-size: 2.5vh;
    padding-bottom: 5vh;
}

.email{
    display: flex;
}

.email input{
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
}

.email button{
    padding: 5px;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    footer h1{
        flex: 1;
    }

    footer img{
        widows: 10%;
    }
    
    .social_media h1{
        font-size: .8em;
    }

    .social h1{
        font-size: .8em;
    }

    address a{
        font-size: .8em;
    }
    

    footer{
        flex-direction: column;
    }

    .email input{
        border: 2px solid rgb(255, 255, 255);
        background-color: black;
    }
        .email button{
        padding: 5px;
        border: 2px solid white;
        font-weight: bold;
        cursor: pointer;
        background-color: white;
        color: black;
    }
    .social_media{
        text-align: center;
    }
    .social_media ul{
        justify-content: space-evenly;
        padding-right: 3em;
        display: flex;
    }
}
@media only screen and (min-width: 768px) {
    .avatar_image {
        float: none;
        border-radius: 0;
        margin: 0;
    }
    .aboutus_div {
        padding: 3vh;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .nav-container {
        width: 100%;
        position: relative;
    }
    .nav-links {
        display: inline;
        text-align: right;
    }
    .logo h4{
        font-size: 4vh;
    }
}
@media only screen and (max-width: 600px) {
    .avatar_image {
        float: none;
        border-radius: 0;
        margin: 0;
    }
    .aboutus_div {
        padding: 3vh;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .nav-container {
        width: 100%;
        position: relative;
    }
    .nav-links {
        display: inline;
        text-align: right;
    }
    .logo h4{
        font-size: 4vh;
    }
}

/*search bar*/

#wrap {
    margin-left: 7vh;
    margin-bottom: 2vh;
    display: inline-block;
    position: relative;
    height: 20px;
    position: relative;
}

input[id="search"] {
    height: 50px;
    font-size: 3vh;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}


#search_submit {
    height: 5vh;
    width: 5vh;
    color:red;
    float: right;
    background: url('/images/search.png') center center no-repeat ;
    background-size: 5vh;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 1;
}

.des_centered{
    position: absolute;
    color: rgb(233, 217, 133);
    width: 100%;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

.des_h2{
    color: white;
    margin-top: auto;
    margin-left: 2%;
}

.des_h4{
    color: white;
    margin-left: 5%;
}

.des_p{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.pac_button {
    background-color: #c04141;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 5%;
  }

  .cards{
    display: flex;
    justify-content: space-between;
    color: black;
    
}

.card{
    background: white;
    margin: 0rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}

.card img{width: 100%;
    object-fit: cover;
}

.card h2{
    margin: 2rem 0rem 1rem 0rem;
    color: black;
}

.card p{
    padding: 2rem;
}

.pac_adv {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s, transform 2s;
  }
  
.pac_adv:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}	
.pac_container {
    width: 300px;
    height: 300px;
}

#aboutus_image, #contactus_image {
    width: 100%;
    height: auto;
}

.avatar_image {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 3px;
  width: 7em;
  float: left;
  margin: 2em;
}

.aboutus_div {
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.contactus_div {
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  input[type=number], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=number]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  input[list] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .browsers{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
    position: relative;
  }
  .browser-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  input[list]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
 .label_color{
     color: white;
 } 

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }

  select option{
      height: 2%;
  }
  @media only screen and (min-width: 992px){
    nav{
        display: flex;
        width: 80%;
        margin: auto;
        min-height: 10vh;
        padding: 1rem 0rem;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .nav-links{
        display: flex;
        width: 70%;
        justify-content: space-around;
    
    }
    
    .nav-links a{
        color: rgb(5, 5, 5);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 1em;
        white-space: nowrap;
    }
    
    .nav-links  :hover{
        color: rgb(89, 172, 107);
        position: relative;
        
    }
    ul{
        list-style: none;
    }
    
    .logo{
        flex: 2;
        font-family: 'Lobster', cursive;
        font-size: 2vw;
    }
  }