*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color:#141824;
  }

.nav-container{
    background-color: rgb(218, 218, 218);
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 5vh;
    padding: 1rem 0rem;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    display: flex;
    width: 70%;
    justify-content: space-around;

}

.nav-links a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
   
}

.nav-links  :hover{
    color: rgb(89, 172, 107);
    
}
ul{
    list-style: none;
}

.logo{
    flex: 2;
    font-family: 'Lobster', cursive;
    font-size: 4vh;
}




/**/

#main-details{
    padding-top: 2em;
    height: 100%;
    margin-top: -1%;
    
}

#main-details h2{
    color: white;
    padding-left: 2em;
    padding-bottom: 1em;
    font-size: 2.5em;
}

.package-details{
    display: flex;
    height: 20em;
    overflow: hidden;
}


.package-details p{
    color: white;
    font-size: 1.2em;
}

.paragraph{
    padding: 2em;
}

.image{
    padding-left: 2em;
    width: 200em;
    overflow: hidden;  
}

.image img{
    
    width: 100%;
}

.package-include ul{
    padding-bottom: 2em;
    list-style-type: square;
}

.package-include h2{
    padding-top: 2em;
    padding-left: 2em;
    font-size: 2em;
    color: white;
}

.package-fulldetails{
    padding-top: 3em;
    padding-left: 8em;
    font-size: 1.5em;
    color: white;
}

.package-fulldetails p{
    padding-top: 2em;
    color: rgb(195, 238, 220);
}

.package-fulldetails hr{
    margin-left: -100%;
}

@media screen and (max-width: 1810px) {
    #main-details h2{
        padding-top: 5em;
    }
}

@media screen and (max-width: 1380px) {
    #main-details h2{
        padding-top: 5em;
    }
}

@media screen and (max-height: 1365px) {
    #main-details h2{
        padding-top: 2em;
    }
}

@media screen and (max-width: 800px) {

    h1{
        text-align: center;
    }


    .package-details{
        flex-direction: column;
        height: 40em;
    }

    .image{
        align-self: center;
        width: 50em;
        height: 100%;
        padding-right: 2em;
    }
  }

@media screen and (max-width: 768px) {
    .package-include h2{
        font-size: 1.5em;
        text-align: center;
        padding-left: 0%;
    }
    .package-fulldetails{
        font-size: 1em;
        padding-left: 2em;
    }
    .paragraph{
        font-size: .9em;
    }
    .package-include .button_book{
        font-size: 1.5em;
    }
  }

@media screen and (max-width: 425px) {
    .package-include h2{
        font-size: 1.5em;
        text-align: center;
        padding-left: 0%;
    }
    .package-fulldetails{
        font-size: .9em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .paragraph{
        font-size: .8em;
    }

    .package-include .book-now{
        padding-bottom: 2em;
    }
    .package-include .button_book{
        font-size: 1em;
        width: 22em;
        transition: .2s ease;
    }

    .package-include .button_book:hover{
        background-position: 20em;
    }
}


@media screen and (max-width: 375px) {
    .package-include .button_book{
        font-size: 1em;
        width: 20em;
        transition: .2s ease;
    }
    .package-include .button_book:hover{
        background-position: 18em;
    }
  }

@media screen and (max-width: 320px) {
    .package-include .button_book{
        font-size: 1em;
        width: 18em;
        transition: .2s ease;
    }
    .package-include .button_book:hover{
        background-position: 14em;
    }
}

/*BOOK NOW BUTTON */
.book-now{
    padding-top: 3em;
    text-align: center;
}

.button_book{
    border: 3px solid rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 2em;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: white;
    text-align: center;
    position: relative;
    transition: .3s ease;  
}

.button_book:hover{
    background:url('../images/right-arrow.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 7em;
    padding-right: 2em;
    color: rgb(255, 255, 60);
}

h1{
    color: white;
    font-size: 3.5vw;
    padding-left: 5vw;
    padding-top: 5vw;  
}

.button_style{
    border: 3px solid rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: .9em;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: white;
    text-align: center;
    position: relative;
    transition: .5s ease;  
}

.gotop{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-bottom: 2%;

}
.gotop img{
    height: 1.5vw;
    opacity: 0;
    padding-left: 10px;
}


.gotop img:hover{
    opacity: 1;
}

.button_style:hover{
    background:url('../images/up-arrow.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 4.8em;
    padding-right: 2em;
}


/**/
footer{
    display: flex;
    background: #000000;
    padding-left: 8%;
    padding-right: 2em;
    padding-top: 2vw;
    padding-bottom: 2vw;
    align-items: center;
    justify-content: space-between;
    
}
address a{
    font-size: 1.3rem;
    padding-left: 5px;
    color: whitesmoke;
    font-style: normal;
}

address{
    padding-top: 2em;
}

.gmail{
    padding-top: 5px;
    display: flex;
    
}

.gmail a{
    padding-left: 10px;
}
.social_media{
    text-align: center;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;


}

.social_media ul{
    display: flex;
    padding-right: 3em;
    justify-content: space-evenly;
    
}

.social_media h1{
    text-align: center;
    color: whitesmoke;
    font-size: 1.3rem;
    padding-bottom: 2vh;
    padding-top: 4vh;
}

.social{
    justify-items: center;
    align-items: center;
    padding-right: 2%;
}

.social ul{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.social h1{
    
    text-align: center;
    color: whitesmoke;
    font-size: 1.3rem;
    padding-bottom: 2vh;
    padding-top: 4vh;
}

.email{
    display: flex;
}

.email input{
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
}

.email button{
    padding: 5px;
    background-color: whitesmoke;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    footer h1{
        flex: 1;
        
    }

    .social_media h1{
        font-size: .8em;
        padding-right: 6vh;
    }

    .social h1{
        font-size: .8em;
        padding-right: 5vh;
        
    }

    address a{
        font-size: .8em;
    }
  

    footer{
        flex-direction: column;
    }
}

/*search*/
#wrap {
    margin-left: 7vh;
    margin-bottom: 2vh;
    display: inline-block;
    position: relative;
    height: 20px;
}

input[id="search"] {
    height: 50px;
    font-size: 3vh;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
    background-color:rgb(218, 218, 218);
    width: 50vw;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
#search_submit {
    height: 5vh;
    width: 5vh;
    color:red;
    float: right;
    background: url('../images/search.png') center center no-repeat ;
    background-size: 5vh;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 1;
}
/* interactive icons*/


@media only screen and (max-width: 933px) {
    .aboutus_div {
        padding: 3vh;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .nav-container {
        width: 100%;
        position: relative;
    }
    .nav-links {
        display: inline;
        text-align: right;
    }

    footer {
        flex-direction: column;
    }
    
    address .phone {
        text-align: center;
    }

    address {
        padding-bottom: 2vh;
        padding-top: 5vh;
    }
  }
