*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    background-color: #141824;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins', sans-serif;
}

footer{
    font-family: 'Poppins', sans-serif;
}

.view-more{
    display: flex;
    justify-content: center;
    padding-bottom: 3vh; 
    text-decoration: underline;  
}

.view-a{
    color: rgb(255, 255, 255);
}

.nav-container{
    background-color: rgb(218, 218, 218);
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 5vh;
    padding: 1rem 0rem;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.nav-links a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
}

.nav-links  :hover{
    color: rgb(89, 172, 107);
    
}
ul{
    list-style: none;
}

.logo{
    flex: 2;
    font-family: 'Lobster', cursive;
    
}

/* NAVIGATION BAR*/

/* Main*/

.top{
    position: relative;
    text-align: center;
}

.centered{
    position: absolute;
    color: rgb(233, 217, 133);
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

.below-centered{
    position: absolute;
    color: rgb(22, 22, 22);
    width: 100%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top h2{
    font-size: 4vw;
}

.top h3{
    font-size: 1.5vw;
}

.main-image{
    max-width: 100%;  
    height: auto;  
}

/*Slider*/
.destination{
    min-height: 8vh;
    background:#141824 ;
    color: rgb(255, 255, 255);
    padding-left: 8%;
    margin-top: -1%;
}

.destination h2{
    font-size: 2.2em;
    margin-bottom: 40px;
    padding-top: 4%;
}

.destination .info{
    max-width: 30%;
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
}


.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: #141824;
    display: flex;
    
  }

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-left: 2em;
    margin-bottom: 15%;
    -webkit-overflow-scrolling: touch;
 }

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
.slides::-webkit-scrollbar-thumb {
    background: #b7bac5;
    border-radius: 10px;
  }
.slides::-webkit-scrollbar-track {
    background: transparent;
  }
.slides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 350px;
    margin-right: 50px;
    border-radius: 10px;
    background: rgb(41, 42, 73);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

.slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
#slide-1::after{
    content: "Vancouver Island";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

#slide-1:hover::after{
    opacity: 0.5;
    
}

#slide-2::after{
    content: "Niagara falls";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-2:hover::after{
    opacity: 0.5;
}

#slide-3::after{
    content: "Whistler";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-3:hover::after{
    opacity: 0.5;
}

#slide-4::after{
    content: "Stanley Park";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-4:hover::after{
    opacity: 0.5;
}

#slide-5::after{
    content: "CN Tower";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#slide-5:hover::after{
    opacity: 0.5;
}

.centered-slider{
    position: absolute;
    color: rgb(0, 0, 0);
    width: 50%;
    top: 80%;
    left: 50%;
    font-size: 5vh;
    font-weight: 500;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

@media screen and (max-width: 924px){   
   
    .destination .info{
        max-width: 30%;
        font-size: 90%;
        
    }  
}   

@media screen and (max-width: 800px){   
    .slider{
        flex-direction: column;
    }
    .destination .info{
        max-width: 90%;
        margin: auto;
        padding-bottom: 2em;
    }
    .destination h2{
        text-align: center;
    }

    .features h2{
        text-align: center;
        margin-left: 0%;
    }

    .slides div {
        width: 300px;
        height: 200px;
      }
  
}

/* CONTAINER*/

.container{
    background-color: #141824;
    overflow: hidden;
    margin-top: -1%;
}

.features{
    min-height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.features h2{
    padding-left: 8%;
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    margin-top: 10vh;
}

.main_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sub_container1{
    margin-top: 30px;
    width: 300px;
    height: 460px;
    background: #C4C4C4;
    overflow: hidden;
}

.sub_container2{
    margin-top: 30px;
    width: 300px;
    height: 460px;
    background: #C4C4C4;
    overflow: hidden;
}

.sub_container3{
    margin-top: 30px;
    width: 300px;
    height: 460px;
    background: #C4C4C4;
    overflow: hidden;
}

.sub_container4{
    margin-top: 30px;
    width: 300px;
    height: 460px;
    background: #C4C4C4;
    overflow: hidden;
}

.imagediv img{
    width: 120%;
  
}
.imagediv{
    width:100%;
    height: 50%;
    overflow: hidden;
}
.package_details{
    height: 9.5em;
}

.package_details a{
    text-decoration: none;
    color: black;
    
}

.first{
    display: flex;
    padding: 10px 0px 10px 10px;
    align-items: center;
}

.first p{
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.second{
    display: flex;
    padding: 5px 10px 5px 10px;
    align-items: center;
}
.second p{
    margin-left: 10px;
    font-size: .8em;
}

.package_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    
}

.button_style{
    border: 3px solid black;
    padding: 5px 10px;
    font-size: 2vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
}


/* --------close container------*/

/* GUIDE*/
.guide{
    min-height: 90vh;
    margin: auto;

}

.guide h2{
    margin-left: 8%;
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    margin-top: 10vh;
}

.guide_main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 80px;
}

.guide_container1{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.guide_container2{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.guide_container3{
    margin-top: 30px;
    width: 400px;
    height: 450px;
    background: #C4C4C4;
    overflow: hidden;
}

.guideimg img{
    width: 100%; 
}
.guideimg{
    width:100%;
    height: 50%;
    overflow: hidden;
}

.guide_details{	
    height: 8em;	
}

.guide_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
}

.guide_style{
    border: 3px solid black;
    padding: 5px 10px;
    font-size: 2vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
}

.guidefirst{
   margin-top: -3em;
    align-items: center;
}

.guidefirst p{
    margin-left: 10px;
    font-size: .9em;
}

.guidefirst h2{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 800px) {	

    .guide h2{	
        margin-left: 0%;	
        text-align: center;	
    }	

}	

@media screen and (max-width: 400px) {	
    .guide_container1{	
        margin-top: 30px;	
        width: 350px;	
        height: 450px;	
        background: #C4C4C4;	
        overflow: hidden;	
    }	

    .guide_container2{	
        margin-top: 30px;	
        width: 350px;	
        height: 450px;	
        background: #C4C4C4;	
        overflow: hidden;	
    }	

    .guide_container3{	
        margin-top: 30px;	
        width: 350px;	
        height: 450px;	
        background: #C4C4C4;	
        overflow: hidden;	
    }    	

    .guidefirst p{	
        margin-left: 10px;	
        font-size: 1em;	
    }	

  }	


@media screen and (max-width: 320px) {
    .guide_container1{
        margin-top: 30px;
        width: 310px;
        height: 450px;
        background: #C4C4C4;
        overflow: hidden;
    }
    
    .guide_container2{
        margin-top: 30px;
        width: 310px;
        height: 450px;
        background: #C4C4C4;
        overflow: hidden;
    }
    
    .guide_container3{
        margin-top: 30px;
        width: 310px;
        height: 450px;
        background: #C4C4C4;
        overflow: hidden;
    }    

    .guidefirst p{
        margin-left: 10px;
        font-size: 1em;
    }
  }

/*----*----GUIDE----*-----*/

/* Gallery*/
.gallery_container{
    min-height: 8vh;
    background:#141824 ;
    color: beige;
    padding: 5% 8% 5% 8%;
    margin-top: -1%;
}

.h2gallery{
    font-size: 2.2em;
    padding-bottom: 5vh;
}
.row { 
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
  }
  
.column img {
    margin-top: 8px;
    padding: 4px;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
  }

.column img:hover{
      transform: scale(1.2);
  }
  
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .h2gallery{	
        text-align: center;	
    }

  }

@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  /* About US*/

.aboutus{
    background: #141824;
    color: white;
    
}

.aboutus_details{
    
    padding-left: 8%;
    padding-right: 8%;
}

.h2aboutus{
    font-size: 2.2em;
    padding-bottom: 5vh;
    padding-left: 8%;
}

.aboutus_container{
    display: flex;
    

}

.aboutus_imgdiv{
    margin-bottom: 50px;
    margin-right: 50px;
    height: 30%;
    overflow: hidden;
    
    
    
}

.aboutus_container .aboutus_img{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    padding-right: 10%;
}

@media screen and (max-width: 800px){	


    .aboutus_container{	
        flex-direction: column;	
    }	

    .aboutus_imgdiv{	
        padding-left: 4em;	
        padding-top: 2em;	
        margin-bottom: 50px;	
        width: 50%;	
    }	

    .h2aboutus{	
        text-align: center;	
    }	
}
  /*Footer*/

footer{
    display: flex;
    background: #000000;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    align-items: center;
    justify-content: space-between;
    
}
address a{
    font-size: 1.3rem;
    padding-left: 5px;
    color: whitesmoke;
    font-style: normal;
}

address{	
    padding-top: 2em;	
}

.gmail{
    padding-top: 5px;
    display: flex;
    
}

.gmail a{
    padding-left: 10px;
}
.social_media{
    text-align: center;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;


}

.social_media ul{
    display: flex;
    padding-right: 3em;
    justify-content: space-evenly;
    
}

.social_media h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding-bottom: 2vh;
    padding-top: 4vh;
}

.social{
    justify-items: center;
    align-items: center;
    padding-right: 2%;
}

.social ul{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.social h1{
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding-bottom: 2vh;
    padding-top: 4vh;
}

.email{
    display: flex;
}

.email input{
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
}

.email button{
    padding: 5px;
    background-color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    footer h1{
        flex: 1;
        
    }

    .social_media h1{
        font-size: .8em;
    }

    .social h1{
        font-size: .8em;
    }

    address a{
        font-size: .8em;
    }
  

    footer{
        flex-direction: column;
    }
}


/*search bar*/

#wrap {
    margin-left: 7vh;
    margin-bottom: 2vh;
    display: inline-block;
    position: relative;
    height: 20px;
}

input[id="search"] {
    height: 50px;
    font-size: 3vh;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
    background-color:rgb(218, 218, 218);
    width: 50vw;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
#search_submit {
    height: 5vh;
    width: 5vh;
    color:rgb(0, 0, 0);
    float: right;
    background: url('/images/search.png') center center no-repeat ;
    background-size: 5vh;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 1;
}

/*--------destination----*/
.des_centered{
    position: absolute;
    color: rgb(233, 217, 133);
    width: 100%;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
    opacity: 90%;
}

.des_h2{
    color: white;
    margin-top: auto;
    margin-left: 2%;
}

.des_h4{
    color: white;
    margin-left: 5%;
}

.des_p{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.pac_button {
    background-color: #c04141;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 5%;
  }

  .cards{
    display: flex;
    justify-content: space-between;
    color: black;
    
}

.card{
    background: white;
    margin: 0rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}

.card img{width: 100%;
    object-fit: cover;
}

.card h2{
    margin: 2rem 0rem 1rem 0rem;
    color: black;
}

.card p{
    padding: 2rem;
}

.pac_adv {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s, transform 2s;
  }
  
.pac_adv:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}	
.pac_container {
    width: 300px;
    height: 300px;
}

#aboutus_image, #contactus_image {
    width: 100%;
    height: auto;
}

.avatar_image {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 3px;
  width: 7em;
  float: left;
  margin: 2em;
}

.avatar_image:hover {
    transform: scale(1.2);
    opacity: 0.7;
}
.aboutus_div {
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;
}

.contactus_div {
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    color: white;
}

.contactus_div h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.contactus {
	background: -moz-linear-gradient(#336699, #0f0f0f); 
	background: -o-linear-gradient(#336699, #0f0f0f); 
	background: -webkit-linear-gradient(#336699, #0f0f0f); 
	background: linear-gradient(#336699, #0f0f0f); 
}

.aboutus_article {
    margin-top: 1em;
}
.avatar_p {
    margin-top: 2em;
}

#contact_form_submit {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}

#hiring_table, th, td {  
    border: 1px solid white;
    padding: 1vw; 
}

#hiring_table {  
    border-collapse: collapse;  
    margin-left: auto;
    margin-right: auto;
}

#office_hour_list li {
    list-style-type: square;
    list-style-position: inside;
}

.aboutus_div .h2aboutus {
    font-size: 4vh;
    padding-bottom: 1vh;
    padding-top: 4vh;
    padding-left: 2%;
}


li a {
    font-size: 1vh;
    margin: 1vh;
}

.logo h4 {
    font-size: 4vh;
}

iframe {
    width: 60vw;
    height: 40vw; 
    border: 0px;
}

#contactform_subject {
    width: 35vw;
    height: 20vw; 
}

#aboutus_main .aboutus {
    background: -moz-linear-gradient(#336699, #0f0f0f); 
	background: -o-linear-gradient(#336699, #0f0f0f); 
	background: -webkit-linear-gradient(#336699, #0f0f0f); 
	background: linear-gradient(#336699, #0f0f0f); 
}
.icon {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    top: 5px;
}

.social_media .icon {
    width: 2rem;
    height: 2rem;
}

.three{
    margin-left: 6%;
}

.nav-links li a {
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .avatar_image {
        float: none;
        border-radius: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 933px) {
    .aboutus_div {
        padding: 3vh;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .nav-container {
        width: 100%;
        position: relative;
    }
    .nav-links {
        display: inline;
        text-align: right;
    }

    footer {
        flex-direction: column;
    }
    
    address .phone {
        text-align: center;
    }

    address {	
        padding-bottom: 2vh;	
        padding-top: 5vh;	
    }
    .wildlife p{
        display: none;
    }
    .wild-block{
        width: 60%;
        font-size: small;
    }
  }


footer address {
    padding-bottom: 2vh;
    padding-top: 5vh;
}

.wildlife {
    position: relative;
    font-family: Arial;
    margin: 0 auto;
  }

  .wildlife img{
      width: 90%;
      margin-left: 10%;
  }
  
  .wild-block {
    position: absolute;
    top: 20px;
    left: 10%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  }

